{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4981"], "X-Ratelimit-Reset":["1437675247"], "Last-Modified":["Mon, 20 Jul 2015 21:22:06 GMT"], "Etag":["W/\"065154c409fc7612a5e13f99a6a0ffbd\""], "X-Oauth-Scopes":["user"], "X-Accepted-Oauth-Scopes":[""], "X-Oauth-Client-Id":["d963a08c56351ac128bb"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","string":"{\"login\":\"morganmiller\",\"id\":8868319,\"avatar_url\":\"https://avatars.githubusercontent.com/u/8868319?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/morganmiller\",\"html_url\":\"https://github.com/morganmiller\",\"followers_url\":\"https://api.github.com/users/morganmiller/followers\",\"following_url\":\"https://api.github.com/users/morganmiller/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/morganmiller/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/morganmiller/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/morganmiller/subscriptions\",\"organizations_url\":\"https://api.github.com/users/morganmiller/orgs\",\"repos_url\":\"https://api.github.com/users/morganmiller/repos\",\"events_url\":\"https://api.github.com/users/morganmiller/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/morganmiller/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"Morgan Miller\",\"company\":\"\",\"blog\":\"\",\"location\":\"\",\"email\":\"\",\"hireable\":true,\"bio\":null,\"public_repos\":28,\"public_gists\":2,\"followers\":6,\"following\":0,\"created_at\":\"2014-09-23T00:24:15Z\",\"updated_at\":\"2015-07-20T21:22:06Z\",\"private_gists\":1,\"total_private_repos\":0,\"owned_private_repos\":0,\"disk_usage\":15686,\"collaborators\":0,\"plan\":{\"name\":\"free\",\"space\":976562499,\"collaborators\":0,\"private_repos\":0}}"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 17:17:49 GMT"},[...]
{"request":{"method":"get","uri":"https://api.github.com/user/starred","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4978"], "X-Ratelimit-Reset":["1437675247"], "Etag":["W/\"51456354bc5aee0694abe719a5e94f34\""], "X-Oauth-Scopes":["user"], "X-Accepted-Oauth-Scopes":[""], "X-Oauth-Client-Id":["d963a08c56351ac128bb"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"id\":7401683,\"name\":\"seeing_is_believing\",\"full_name\":\"JoshCheek/seeing_is_believing\",\"owner\":{\"login\":\"JoshCheek\",\"id\":77495,\"avatar_url\":\"https://avatars.githubusercontent.com/u/77495?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/JoshCheek\",\"html_url\":\"https://github.com/JoshCheek\",\"followers_url\":\"https://api.github.com/users/JoshCheek/followers\",\"following_url\":\"https://api.github.com/users/JoshCheek/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/JoshCheek/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/JoshCheek/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/JoshCheek/subscriptions\",\"organizations_url\":\"https://api.github.com/users/JoshCheek/orgs\",\"repos_url\":\"https://api.github.com/users/JoshCheek/repos\",\"events_url\":\"https://api.github.com/users/JoshCheek/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/JoshCheek/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/JoshCheek/seeing_is_believing\",\"description\":\"Displays the results of every line of code in your file\",\"fork\":false,\"url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing\",\"forks_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/forks\",\"keys_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/teams\",\"hooks_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/hooks\",\"issue_events_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/events\",\"assignees_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/tags\",\"blobs_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/languages\",\"stargazers_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/stargazers\",\"contributors_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/contributors\",\"subscribers_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/subscribers\",\"subscription_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/subscription\",\"commits_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/merges\",\"archive_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/downloads\",\"issues_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/JoshCheek/seeing_is_believing/releases{/id}\",\"created_at\":\"2013-01-02T03:03:28Z\",\"updated_at\":\"2015-07-20T23:27:49Z\",\"pushed_at\":\"2015-07-21T07:12:26Z\",\"git_url\":\"git://github.com/JoshCheek/seeing_is_believing.git\",\"ssh_url\":\"git@github.com:JoshCheek/seeing_is_believing.git\",\"clone_url\":\"https://github.com/JoshCheek/seeing_is_believing.git\",\"svn_url\":\"https://github.com/JoshCheek/seeing_is_believing\",\"homepage\":\"\",\"size\":22349,\"stargazers_count\":359,\"watchers_count\":359,\"language\":\"Ruby\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":17,\"mirror_url\":null,\"open_issues_count\":16,\"forks\":17,\"open_issues\":16,\"watchers\":359,\"default_branch\":\"master\",\"permissions\":{\"admin\":false,\"push\":false,\"pull\":true}},{\"id\":16006666,\"name\":\"ruby-exercises\",\"full_name\":\"turingschool/ruby-exercises\",\"owner\":{\"login\":\"turingschool\",\"id\":7934292,\"avatar_url\":\"https://avatars.githubusercontent.com/u/7934292?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/turingschool\",\"html_url\":\"https://github.com/turingschool\",\"followers_url\":\"https://api.github.com/users/turingschool/followers\",\"following_url\":\"https://api.github.com/users/turingschool/following{/other_u[...]
{"request":{"method":"get","uri":"https://api.github.com/users/morganmiller/events","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4977"], "X-Ratelimit-Reset":["1437675247"], "Last-Modified":["Wed, 22 Jul 2015 14:37:42 GMT"], "Etag":["W/\"61ffb9a35f87e6eeafa1d651b0f7d3cd\""], "X-Poll-Interval":["60"], "X-Oauth-Scopes":["user"], "X-Accepted-Oauth-Scopes":[""], "X-Oauth-Client-Id":["d963a08c56351ac128bb"], "X-Github-Media-Type":["github.v3; format=json"], "Link":["\u003chttps://api.github.com/user/8868319/events?page=2\u003e; rel=\"next\", \u003chttps://api.github.com/user/8868319/events?page=10\u003e; rel=\"last\""]},"body":{"encoding":"ASCII-8BIT","string":"[{\"id\":\"2996379386\",\"type\":\"ForkEvent\",\"actor\":{\"id\":8868319,\"login\":\"morganmiller\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/morganmiller\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/8868319?\"},\"repo\":{\"id\":7554691,\"name\":\"JoshCheek/words\",\"url\":\"https://api.github.com/repos/JoshCheek/words\"},\"payload\":{\"forkee\":{\"id\":39531596,\"name\":\"words\",\"full_name\":\"morganmiller/words\",\"owner\":{\"login\":\"morganmiller\",\"id\":8868319,\"avatar_url\":\"https://avatars.githubusercontent.com/u/8868319?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/morganmiller\",\"html_url\":\"https://github.com/morganmiller\",\"followers_url\":\"https://api.github.com/users/morganmiller/followers\",\"following_url\":\"https://api.github.com/users/morganmiller/following{/other_user}\",\"gists_url\":\"ht[...]
{"request":{"method":"get","uri":"https://api.github.com/user/orgs","body":{"encoding":"US-ASCII","string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4976"], "X-Ratelimit-Reset":["1437675247"], "Etag":["W/\"3094c2d28ee690370ff6f8124db91e56\""], "X-Oauth-Scopes":["user"], "X-Accepted-Oauth-Scopes":["admin:org, read:org, repo, user, write:org"], "X-Oauth-Client-Id":["d963a08c56351ac128bb"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"login\":\"turingschool-examples\",\"id\":8518346,\"url\":\"https://api.github.com/orgs/turingschool-examples\",\"repos_url\":\"https://api.github.com/orgs/turingschool-examples/repos\",\"events_url\":\"https://api.github.com/orgs/turingschool-examples/events\",\"members_url\":\"https://api.github.com/orgs/turingschool-examples/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/turingschool-examples/public_members{/member}\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/8518346?v=3\",\"description\":\"\"},{\"login\":\"RubyRightBack\",\"id\":13441643,\"url\":\"https://api.github.com/orgs/RubyRightBack\",\"repos_url\":\"https://api.github.com/orgs/RubyRightBack/repos\",\"events_url\":\"https://api.github.com/orgs/RubyRightBack/events\",\"members_url\":\"https://api.github.com/orgs/RubyRightBack/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/RubyRightBack/public_members{/member}\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/13441643?v=3\",\"description\":null}]"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 17:17:50 GMT"},{"request":{"method":"get","uri":"https://github.com/users/morganmiller/contributions","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/html; charset=utf-8"], "Status":["200 OK"], "Public-Key-Pins":["max-age=300; pin-sha256=\"WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18=\"; pin-sha256=\"JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=\"; includeSubDomains"]},"body":{"encoding":"ASCII-8BIT","string":"\u003csvg width=\"721\" height=\"110\" class=\"js-calendar-graph-svg\"\u003e\n  \u003cg transform=\"translate(20, 20)\"\u003e\n      \u003cg transform=\"translate(0, 0)\"\u003e\n          \u003crect class=\"day\" width=\"11\" height=\"11\" y=\"39\" fill=\"#eeeeee\" data-count=\"0\" data-date=\"2014-[...]
