
img.img-circle.img-thumbnail.home-image {
  height: 200px;
}

img.org-image {
  height: 100px;
}

img.img-circle.git-icon {
  height: 270px;
}

table.user-stats {
  margin: 0 auto !important;
  float: none !important;
  border-spacing: 20px;
  th, td {
    text-align: center;
  }
  td {
    padding: 10px;
    width: 33%;
  }
}


.top5 { margin-top:5%; }
.top7 { margin-top:7%; }
.top10 { margin-top:10%; }
.top15 { margin-top:15%; }
.top17 { margin-top:17%; }
.top30 { margin-top:30%; }


.bottom5 { margin-bottom:5%; }
.bottom7 { margin-bottom:7%; }
.bottom10 { margin-bottom:10%; }
.bottom15 { margin-bottom:15%; }
.bottom17 { margin-bottom:17%; }
.bottom30 { margin-bottom:30%; }

.span3 {
  height: 300px !important;
  overflow: scroll;
  border: solid;
  border-width: 2px;
}

.repos {
  height: 300px !important;
  overflow: scroll;
}

#header-bg {
  background-image: url('http://www.ecardmedia.eu/data/media/3/tealgreen.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

.navbar, .navbar-default, .navbar-header {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.container { 
  padding-top: 0 !important;
}
