<h1>My Yearly Activity</h1>
<p>
  <strong>Contributions:</strong> <%= @user.total_contributions %> |
  <strong>Longest Streak:</strong> <%= @user.longest_streak %> |
  <strong>Current Streak:</strong> <%= @user.current_streak %>
</p>
<%= @user.chart.html_safe %>
